<!--
    Web Atelier 2023
    Exercise 3
    Object-Oriented JavaScript

    Map Editor

    Author: __Elvira Baltasar__

    let map = <%-JSON.stringify(map)%>;

-->


<head>
    <title>USIMAP - Map List</title>
    <meta name="author" content="__Elvira Baltasar__">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />

    <link rel="stylesheet" href="/css/style.css" /> 
    <link rel="stylesheet" href="/css/list.css" /> 

    <style>
        .thumb { width: 200px; height: 200px}
    </style>

</head>
<body>

    <h1 id ="titulo"> <img src="/images/logo def.png" width="200"> </h1>
    <section id="general">
        <nav> 
            <a id="home" url="/map">
                <button id="op"> Home page </button> </a>
            <a id="mapgal" href="list.html">
                <button id="opa"> Map gallery </button> </a>
            <a id="marker" href="editor.html">
                <button id="op"> Marker editor </button> </a>
        </nav> 
        


<main>

            <!-- <h1><%=map.title%></h1>
            <h4><%=gps2str(map.center.lat) || map.center.lat%></h4>
            <h4><%=gps2str(map.center.lng) || map.center.lng%></h4>
            <h4><%=map.zoom%></h4>
            <h4><%=map.tiles%></h4> -->
            <form action="/map" method = "put">
            
            <input id="title" type="text" name="title" value=<%=map.title%> />
            <input id="lat" type="text" name="lat" value=<%=gps2str(map.center.lat) || map.center.lat%> />
            <input id="lng" type="text" name="lng" value=<%=gps2str(map.center.lng) || map.center.lng%> />
            <input id="zoom" type="number" name="zoom" value="13" />
            <select name="tiles" id="tiles">

                <option value="watercolor" selected>watercolor</option>
                <option value="osm">osm</option>
                <option value="natgeo">natgeo</option>
                <option value="ESRI_world_imagery">ESRI_world_imagery</option>
                <option value="Swiss_Color">Swiss_Color</option>
                <option value="Swiss_Imagery">Swiss_Imagery</option>
                <option value="topo">topo</option>
                <option value="toner">toner</option> 
            
            </select>
                <button data-action="create">Create New Map</button>

                <button data-action="update">Update Map</button>

                <button data-action="zcenter">Center Map</button>



            </form>
        <div id="map" style="width:100%; height:90%"></div>
        <!-- <div id=" map" style="position:relative"></div> -->

    </main>

</body>

<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>    
<script src="/js/map-util.js"></script>
<script src="/map/<%=map.id%>/map.js"></script>